<div class="col-sm-9">
    <div class="panel panel-default room">
        <div class="panel-heading room-header"><h2>{{room.name}}</h2></div>
        <div class="panel-body room-content">
            <ul class="list-group message" auto-scroll-to-bottom>
                <li class="list-group-item message" ng-repeat="message in room.messages">
                    <img ng-src="{{message.creator.avatarUrl}}" title="{{message.creator.name}}" class="img-rounded"/>{{message.creator.name}}：{{message.content}} <time am-time-ago="message.createAt"></time>
                </li>
            </ul>
            <form class="message-creator" ng-controller="MessageCtrl">
                <div class="form-group">
                    <textarea required class="form-control message-input" ng-model="newMessage" ctrl-enter-break-line="createMessage()" placeholder="Ctrl+Enter 发送"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>